version: "3.9"

services:
  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: etl
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  etl:
    build: .
    container_name: etl
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
    command: >
      python -m etl.main --file-id 10Gm2LGbOyzTVef3XHA69NDmd-be3H-fD --limit 100

volumes:
  pg_data:
